@charset "UTF-8";
            /*html 전체 css*/
            html, body, div, img, span, ul{
                margin: 0;
                padding: 0;
            }
                ul{
                    list-style: none;
                }
                a{
                    margin: 0;
                    color: #444;
                    padding: 0;
                    text-decoration: none;
                }
            /*html 전체 css 끝 */
            /* 헤드부분 css 시작 */
            .wrap-head { /*첫 헤드 */
            position: relative;
            width: 100%;
            margin-bottom: 14px;
            border-bottom: 1px solid #d2d2d2;
            }
            .wrap-head .head-list { /* 로고 및 지니차트 리스트 */
                position: relative;
                width: 940px;
                height: 120px;
                margin: 0 auto;
                padding: 18px 0 0 159px;
            }
            .wrap-head .head-list .logo { /*헤드 로고 */
                display: block;
                position: absolute;
                top: 12px;
                left: -3px;
                width: 134px;
                height: 56px;
            }
            .wrap-head .head-list .logo a{/* 로고 안 a 태그*/
                display: block;
                width: 100%;
                height: 100%;
                background: url("C:/팀4/사진/이미지/logo_genie.png") no-repeat 0 0;
                line-height: 0;
                text-indent: -9999px;
            }

            .wrap-head .gnb{
                position: relative;
                width: 940px;
                margin: 0 auto;
            }
            .wrap-head .gnb .menu-list{
                display: block;
                position: relative;
                margin-top: 25px;
            }
            .wrap-head .gnb .menu-list li {
                float: left;
                position: relative;
            }
            .wrap-head .gnb .gnb-menu{
                display: block;
                position: relative;
                padding: 0 150px 0 0;
                font-size: 24px;
                font-weight: 700;
            }
            .wrap-head .sub_menu{
                /* display: none; 리스트 사라지게 */
                position: absolute;
            }
            .wrap-head .sub_menu .bd{
                position: relative;
                z-index: 1;
                zoom: 1;
            }
            .wrap-head .sub_menu .bd a{
                display: block;
                padding: 5px 16px 3px;
            }
            /*서브메뉴 나열 관련*/
            #sub_menu_chart, #sub_menu_newest, #sub_menu_genre{ 
                opacity: 0; visibility: hidden;
                background-color: skyblue;
            }
            #main_menu>li:hover #sub_menu_chart,
            #main_menu>li:hover #sub_menu_newest,
            #main_menu>li:hover #sub_menu_genre{
                opacity: 1; visibility: visible;
                border-top: 3px solid skyblue;
                background-color: red;
                position: relative;
            }
            /* header css 끝*/
            /*로그인/회원가입 css*/
            .wrap-head .gnb_my{
                display: inline-block;
                width: 122px;
                height: 22px;
            }
            .gnb_btn{
                border: 1px solid whitesmoke;
                background-color: white;
            }
            #login_list{
                border: 1px solid #656565;
                opacity: 0; visibility: hidden;
            }
            .list_login{
                text-align: center;
            }
            /*로그인/회원가입 css 끝*/
            /*body 부분 css 시작 */
            #wrap-body{
                position: relative;
                width: 940px;
                margin: 0 auto;
            }
            .aside #contents{
                position: relative;
                float: left;
                width: 710px;
            }
            .title{
                height: 28px;
                position: relative;
                padding: 20px 0 5px 0;
            }
            .title h2{
                display: inline;
            }
            .title-1{
                height: 37px;
                background-color: #f6f6f6;
                border-top: 2px solid #656565;
                border-bottom: 1px solid #dbdbdb;
            }
            .title-1 li{
                float: left;
            }
            .title-1 li a{
                display: block;
                border-right: 1px solid #dbdbdb;
                text-align: center;
                min-width: 80px;
                padding: 11px 14px 0;
            }
            .title-1 li a img{
                vertical-align: top;
            }
            .title-line {
                border-bottom: 1px solid #dedede;
            }
            .title-line ul{
                height: 18px;
                padding: 9px 0 5px 0;
                line-height: 18px;
            }
            .title-line li{
                float: left;
                width: auto!important;
                padding: 1px 8px;
                height: 18px;
                background: url("C:/팀4/사진/이미지/dv_line.gif") no-repeat 0 50%;
                margin: 0!important;
            }
            /*body 부분 css 시작 끝*/
            /* 사이드부분 */
            #wrap-body .aside{
                background: url("C:/팀4/사진/이미지/aside_line.gif") repeat-y 100% 0;
            }
            #wrap-body.aside:after {
                content: '';
                clear: both;
                display: block;
                height: 0;
            }
            /* 사이드부분 */
            /*차트부분*/
            .chart-date{
                position: relative;
                margin-top: 10px;
                padding-bottom: 6px;
                z-index: 10;
            }
            .chart-date .date {
                text-align: center;
                line-height: 0px;
            }
            .chart-date .date h3 {
                color: #4e4e4e;
                font-size: 18px;
                font-weight: bold;
                font-family: Tahoma, sans-serif;
                vertical-align: middle;
                display: inline-block;
            }
            .chart-date .select-term {
                position: absolute;
                left: 0;
                top: 5px;
                padding-left: 1px;
            }
            .chart-date .select-term li {
                float: left;
                width: 47px;
                height: 22px;
                margin-left: -1px;
            }
            .chart-date .select-term li a {
                display: block;
                position: relative;
                z-index: 1;
                height: 20px;
                border: 1px solid #ccc;
                background-image: url("bu_select_term.gif") !important;
                background-position: 0 50%;
                background-repeat: no-repeat;
                background-color: #fafafa;
                color: #656565;
                font-size: 11px;
                line-height: 22px;
                text-align: center;
            }
            .chart{
                position: relative;
                width: 710px;
                height: 348px;
                margin-bottom: 19px;
                border-bottom: 1px solid #a6afb6;
                background: lightblue;
            }
            /*차트부분 끝*/
            /* song-list & song-list-wrap */
            .song-list{
                position: relative;
                z-index: 5;
                margin: 0 0 30px;
            }
            .toolbar{
                position: relative;
                height: 31px;
                padding: 7px 0 0 15px;
                border: 1px solid #f79c;
                background: #f7f9fc;
            }
            .toolbar .btn{
                display: inline-block;
                position: relative;
                height: 24px;
                margin-right: 1px;
                padding: 0 6px 0 26px;
                border: 1px solid #a6afb6;
                border-radius: 4px;
                font-size: 11px;
                line-height: 23px;
                color: #27282d;
                background-color: #fff;
                box-sizing: border-box;
                vertical-align: middle;
                text-decoration: none;
            }
            .toolbar .btn:before{
                content: '';
                display: block;
                position: absolute;
                top: 3px;
                left: 7px;
                width: 17px;
                height: 16px;
                background: url(C:/팀4/사진/이미지/list_180122.png) no-repeat 0 0;
            }
            .toolbar .btns {
                display: inline-block;
                position: relative;
                padding: 0 14px 0 17px;
                /* float: left; */
            }
            /* song-list & song-list-wrap 끝*/
            /* list-wrap */
            .list-wrap{
                table-layout: fixed;
                width: 100%;
                margin: 4px 0 10px;
                font-size: 11px;
            }
            .list-wrap .list td{
                height: 68px;
                border-bottom: 1px solid #eef1f4;
            }
            .list-wrap .hd-check{
                width: 33px;
            }
            .list-wrap .hd-number{
                width: 45px;
            }
            .list-wrap .hd-album{
                width: 56px;
            }
            .list-wrap .hd-link{
                width: 21px;
            }
            .list-wrap .hd-info{
                text-align: left;
                text-indent: 7px;
            }
            .list-wrap .hd-btns{
                width: 33px;
            }
            .list-wrap .hd-more{
                width: 46px;
            }
            .list-wrap .list .check{
                text-align: right;
            }
            .list-wrap .list .number{
                font-size: 17px;
                font-weight: bold;
                text-align: center;
            }
            .list-wrap .list .imge{
                display: block;
                position: relative;
                width: 48px;
                height: 48px;
            }
            .list-wrap .list .imge img{
                width: 100%;
                height: 100%;
                vertical-align: top;
            }
            .mask{ /*앨범 넣기 위한 빈공간*/
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 46px;
                height: 46px;
                border: 1px solid #000;
                opacity: 0.1;
            }
            .list-wrap .list .sg{
                white-space: nowrap;
                width: 100%;
                display: block;
                font-size: 1.5em;
                color: black;
            }
            .list-wrap .list .btns{
                position: relative;
                text-align: center;
            }
            .list-wrap .list .btn-img{
                background: url(C:/팀4/사진/이미지/list_180122.png) transparent no-repeat 0 0;
                display: inline-block;
                overflow: hidden;
                position: relative;
                width: 25px;
                height: 25px;
                border: 0;
                line-height: 0;
                text-indent: -9999px;
                vertical-align: middle;
            }
            .list-wrap .list .btns .btn-listen{
                background-position: 0 -21px;
            }
            .list-wrap .list .btns .btn-add{
                background-position: -30px -21px;
            }
            .list-wrap .list .btns .btn-album{
                background-position: -60px -21px;
            }
            .list-wrap .list .btns .btn-down{
                background-position: -90px -21px;
            }
            .list-wrap .list .btns .btn-movie{
                background-position: -120px -21px;
            }
            /* list-wrap 끝*/
            /*page nav*/
            .page-nav{
                margin: 0 0 10px;
                min-height: 25px;
                text-align: center;
                position: relative;
                font-size: 1;
            }
            .page-nav a{
                display: inline-block;
                width: 96px;
                height: 25px;
                padding-top: 1px;
                border: 1px solid #a6afb6;
                text-decoration: none;
                border-radius: 4px;
                color: #27282d;
            }
            /*page nav*/
            /* footer */
            .footer{
                position: relative;
                width: 100%;
                height: 300px;
                border-top: 1px solid black;
            }
            .footer .notice{
                width: 940px;
    height: 74px;
            }
            .footer .ft-info{
                position: relative;
                width: 940px;
                margin: 0 auto;
            }
            .footer .link-wrap{
                position: relative;
                width: 774px;
                padding: 12px 0 0;
            }
            .footer .link-wrap li{
                display: inline-block;
            }
            .footer .link-wrap li a{
              text-decoration: none;
            }
            .footer .info-company{
                position: relative;
                width: 940px;
                margin: 0 auto;
                line-height: 20px;
            }
            .footer .info-company .logo-campany{
                display: block;
                width: 101px;
                height: 19px;
                top: 10px;
                left: 0;

            }
            .footer .info-company dt{
                display: inline-block;
            }
            .footer .info-company dd{
                display: inline-block;
                position: relative;
                padding-right: 8px;
                font-size: 14px;
            }
            /* footer */